.product_lightBox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 450px;
}

.thumbNail_list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}